@import "tailwindcss";
@plugin "@tailwindcss/typography";

.reveal {
  @apply text-black text-3xl;
}

[data-theme="dark"] .reveal {
  @apply text-white;
}

.reveal-viewport {
  @apply bg-white;
}

[data-theme="dark"] .reveal {
  @apply bg-black;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  @apply text-indigo-700;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  @apply text-indigo-700;
  background: rgba(0, 0, 0, 0.2);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    @apply bg-white;
  }
}
